<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/ReviewsDeveloper.css">
    <title>Developer</title>
  </head>

  <body>

    <nav class="navbar ">
      <div class="col-md-4 ">
          <img src="../public/images/logo.png" class="img-fluid imgheader " alt="LOGO">
      </div>
      <div class="col-md-3 ml-auto ">
          <h6> Taran Pal Singh </h6>
      </div>
    </nav>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
     <div class = "container-fluid navbar-color-set">
         <button class="navbar-toggler"
                 type="button"
                 data-toggle="collapse"
                 data-target="#navBarMenu"
                 aria-controls="navBarMenu"
                 aria-expanded="false"
                 aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id = "navBarMenu">
              <ul class="nav ">
                  <li class = "nav-item">
                      <a href="#" class="nav-link" data-toggle="collapse" data-target="#details">Details </a>
                   </li>
                  <li class = "nav-item">
                      <a href = "#" class="nav-link" data-toggle="collapse" data-target="#skilltable">Skills </a>
                  </li>
                  <li class = "nav-item">
                      <a href = "#" class="nav-link" data-toggle="collapse" data-target="#leavedetail">Leaves </a>
                  </li>
                  <li class = "nav-item">
                      <a href = "#" class="nav-link" data-toggle="collapse" data-target="#projects">Project(s) </a>
                  </li>
                  <li class = "nav-item">
                      <a href = "#" class="nav-link" data-toggle="collapse" data-target="#projects">Reviews </a>
                  </li>
               </ul>
           </div>

           <ul class = "nav navbar-right">
               <li class = "nav-item">
                   <a href = "#" class="nav-link">Log-out </a>
               </li>
           </ul>


      </div>
   </nav>


    <div class="container">

      <ul id = "Level1_list" >
      </ul>

      <div id="level2" class = "text-center">
      </div>
    </div>

  </body>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="../public/js/ReviewsDeveloper.js"></script>
  </html>
