*{
  padding: 0;
  margin: 0;
}

.imgheader{
  height: 80px;
  padding: 10px ;

}
.nav-link{
  padding: 0px 5px;
}
.profilename{
  padding: 30px;
}
.tnc{
  font-style: italic;
}
.navbar-color-set a{
  color: white !important;
}
.navbar-bgcolor-set{
  background-color: bg-dark;
}

ul{
  list-style-type: none;
}
li{
  margin: 10px;
  cursor: pointer;
  /* color: blue; */
}

.color-role{
  color: white !important;
  background-color: rgba(#212529, 0.81) !important;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.each-role{
  color: white;
  border-radius:5px;
}
.each-role:hover{
  background-color:#444e58;

}

.apply-shadow{
  box-shadow: 2px,2px rgb(41, 47, 47) !important;
  border-shadow:
}

#body ul{
  list-style-type: none;
  margin-left:  20px;
  padding: 20px;
}
li{
  margin-top: 20px;
}
/* input[type="button"]{
      width: 50px;

} */
.bolder{
  font-weight: bold;
  text-decoration: underline;
}
