*{
  padding: 0;
  margin: 0;
}

.imgheader{
  height: 80px;
  padding: 10px;
}
li a{
  padding: 0;
}
.navbar-color-set a{
  color: white !important;
}
.navbar-bgcolor-set{
  background-color: bg-dark;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #212529;
}

#Level1_list li{
  margin: 20px;
  color: black;
  font-size: 20px;
}
#level2{
  width: 100%;
  margin: 10px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th,td{
  border: 2px solid black;
  padding: 10px;
}
textarea{
  width: 100%;
}
input[type=number]{
  width: 80%;
}

ul{
  list-style-type: none;
}
