*{
  padding: 0;
  margin: 0;
}

.imgheader{
  height: 80px;
  padding: 10px;
}

.navbar-color-set a{
  color: white !important;
}
.navbar-bgcolor-set{
  background-color: bg-dark;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #212529;
}

#review_table{
  width: 90%;
  min-width: 800px;
  margin: 10px auto;
  /* display:block; */
}

td,th{
    border: 2px solid black;
    padding: 10px;

}
textarea{
  width: 100%;
}
input[type=number]{
  width: 80%;
}
.container{
  margin: 10px auto;
}
#Level1_list li{
  text-align: left !important;
  margin: 20px;
  color: black;
  font-size: 20px;
}
li a{
  padding: 0;
}

ul{
  list-style-type: none;
}

@media (max-width: 1000px) {
  #mydivinside {
    /* background-color: green; */
    overflow-x: auto;
    overflow-y: auto;

    }
    #review_table{
      width: 800px;
    }
    #employee_table{
        overflow-x: auto;
    }
}
